.productCartList {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media(tablet) {
        gap: 20px;
    }
}

.productCartItem {
    position: relative;
    padding-right: 15px;
}

.productCartStyle {
    border-radius: 24px;
    background-color: #fff;
    padding: 16px 35px;
    padding-left: 110px;

    @include media(tablet) {
        padding-left: 145px;
    }
}

.productCartPhoto {
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    border-radius: 16px;

    @include media(tablet) {
        width: 145px;
        height: 125px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.productCartInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productCartName {
    @include font(16, 24);
    letter-spacing: 0.02em;
    font-weight: 600;
}

.productCartCan {
    position: absolute;
    top: 15px;
    right: 30px;
}

.iconCan {
    width: 20px;
    height: 20px;

    fill: transparent;
    stroke: $primary-darkgrey-color;

    transition: stroke $animation;

    &:active,
    &:hover {
        stroke: $primary-main-color;
    }
}

.quantity {
    display: flex;
    align-items: center;
    gap: 24px;

}

.quantityTitle {
    @include font(16, 20);
    font-weight: 600;
    letter-spacing: 0.04em;
}

.iconQuantity {
    width: 26px;
    height: 26px;
    fill: transparent;
    stroke: $primary-black-color;
}

.quantityValue {
    @include font(18, 24);
    letter-spacing: 0.04em;
}