.btnOrangeStyle {
    width: 100%;
    background-color: $primary-main-color;
    border-radius: 100px;
    transition: background-color $animation, color $animation;

    &:hover,
    &:active {
        color: $primary-main-color;
        background-color: $primary-hover-color;
    }

    @include media(tablet) {
        width: 165px;
    }
}