.orderModal {
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.orderTitle {
    @include font(28, 30);
    font-weight: 600;
    letter-spacing: 0.02em;

    margin-bottom: 24px;

    @include media(tablet) {
        @include font(40, 40);
    }
}

.orderInformation {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    @include media(desktop) {
        flex-direction: row;
        justify-content: space-evenly
    }
}