.detailInfrom {
    padding: 60px 15px 30px;

    @include media(tablet) {
        padding: 60px 30px 30px;
    }

    @include media(desktop) {
        display: flex;
        gap: 64px;
    }
}

.detailImage {
    border-radius: 24px;
    width: 335px;
    // height: 320px;

    @include media(tablet) {
        width: 400px;
        // height: 480px;
    }
}

.detailInfromAboutProduct {
    width: 340px;

    @include media(tablet) {
        width: 400px;
    }

    @include media(desktop) {
        width: 500px;
    }
}