.navListItem {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: $primary-white-color;
    @include font(14, 16);
    transition: color $animation;
    position: relative;
    cursor: pointer;

    &:hover,
    :active {
        color: $primary-main-color;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        display: block;
        background-color: $primary-main-color;
        width: 0;
        height: 1px;
        transition: color $animation, width $animation;
    }

    &:hover::after,
    :active::after {
        color: $primary-main-color;
        width: 100%;
    }

    &.activeLink {
        color: $primary-main-color;

        &::after {
            color: $primary-main-color;
            width: 100%;
        }
    }

    @include media(desktop) {
        @include font(16, 20);
    }
}