.title {
  @include font(20, 24);
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-text-color;

  margin: 0 auto;

  @include media(tablet) {
    @include font(24, 28);
    width: 411px;
  }
}