$dark-bg-color: #1E1823;
$light-bg-color: #E2E2E2;
$primary-text-color: #111111;

$primary-black-color: #111111;
$primary-white-color: #ffffff;
$primary-main-color: #FD9222;
$primary-hover-color: #FCF1E0;
$primary-border-color: rgba(17, 17, 17, 0.1);
$primary-input-color: rgba(17, 17, 17, 0.05);
$primary-text-white-color: rgba(255, 255, 255, 0.70);
$primary-text-black-color: rgba(17, 17, 17, 0.70);
$error-input-color: #E74A3B;

// $primary-accent-color: #facf5a;
// $primary-background-accent-color: #f7f5ed;
// $primary-darkgrey-color: #858585;
// $primary-lightgrey-color: #f6f6f6;