$dark-bg-color: #1E1823;
$light-bg-color: #E2E2E2;
$primary-text-color: #111111;

$primary-black-color: #111111;
$primary-dote-color: #4C4C4C;
$primary-white-color: #ffffff;
$primary-main-color: #FD9222;
$primary-main-arrow-color: rgba(254, 182, 51, 0.7);
$primary-header-color: rgba(254, 182, 51, 0.7);
$primary-hover-arrow-color: rgb(254, 182, 51);
$primary-hover-color: #FCF1E0;
$primary-border-color: rgba(17, 17, 17, 0.1);
$primary-input-color: rgba(17, 17, 17, 0.2);
$primary-text-white-color: rgba(255, 255, 255, 0.70);
$primary-border-icon-color: rgba(255, 255, 255, 0.5);
$primary-border-footer-color: rgba(255, 255, 255, 0.1);
$primary-text-black-color: rgba(17, 17, 17, 0.70);
$error-input-color: #E74A3B;
$primary-darkgrey-color: #858585;
$primary-shadow-color: 0 8px 30px 0 rgba(153, 114, 23, 0.25);
$primary-placeholder-color: rgba(64, 64, 64, 0.3);
$primary-circle-color: rgba(253, 146, 34, 0.7);