.thumbMenu {
  margin-left: auto;
  transition: transform $animation;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    display: none;
  }
}

.mobileMenu {
  width: 28px;
  height: 28px;
  stroke: $primary-white-color;
  margin-right: 15px;
  transition: stroke $animation;

  &:active {
    stroke: $primary-main-color;
  }
}


.navList {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 24px;
  }
}

.navListItem {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: $primary-white-color;
  @include font(14, 16);
  transition: color $animation;
  position: relative;

  &:hover {
    color: $primary-main-color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    display: block;
    background-color: $primary-main-color;
    width: 0;
    height: 1px;
    transition: color $animation, width $animation;
  }

  &:hover::after {
    color: $primary-main-color;
    width: 50%;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 1;
}

.overlayMenu {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  background-color: $dark-bg-color;
  z-index: 2;
  transition: right 0.3s ease;

  &.entered {
    right: 0;
  }
}