.iconThumb {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include media(tablet) {
        position: absolute;
        top: 25px;
        right: 30px;
    }

    @include media(desktop) {
        position: absolute;
        right: 50px;
    }
}

.basketCartIcon {
    width: 28px;
    height: 28px;
    stroke: $primary-white-color;
    fill: transparent;
    transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover {
        stroke: $primary-main-color;
    }

    @include media(desktop) {
        width: 35px;
        height: 35px;
    }
}

.totalQuantity {
    position: absolute;
    top: 27px;
    right: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: $primary-main-color;
    border-radius: 12px;

    @include font(12, 16);
    letter-spacing: 0.04em;

    @include media (tablet) {
        top: 17px;
        right: -3px;
    }

    @include media (desktop) {
        width: 18px;
        height: 18px;
        top: 22px;

        @include font(14, 18);
    }
}