.heroInform {
    position: relative;
    top: 65vh;
    left: 40px;

    @include media(tablet) {
        left: 60px;
        top: 65vh;
    }

    @include media(desktop) {
        left: 72px;
        top: 30vh;
    }
}

.heroMainTitle {
    width: 295px;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: $primary-white-color;

    margin-bottom: 32px;
    @include font(20, 24);

    @include media(tablet) {
        @include font(28, 34);
        width: 550px;
    }

    @include media(desktop) {
        @include font(32, 40);
        width: 700px;
    }
}

.heroBtn {
    display: flex;
    gap: 14px;

    margin-bottom: 32px;

    @include media(tablet) {
        margin-bottom: 0;
    }
}

.btnOrangeStyle {
    background-color: $primary-main-color;
    border-radius: 100px;
    transition: background-color $animation, color $animation;

    &:hover,
    &:active {
        color: $primary-main-color;
        background-color: $primary-hover-color;
    }
}