.socialIcon {
    width: 22px;
    height: 22px;
    stroke: $primary-white-color;
    fill: transparent;

    &:active {
        stroke: $primary-main-color;
    }

    @include media(tablet) {
        width: 24px;
        height: 24px;
    }
}