.btnBorderColor {
    border: 1px solid $primary-main-color;
    border-radius: 100px;
    transition: background-color $animation, color $animation;
    color: $primary-text-color;

    &:hover,
    &:active {
        background-color: $primary-main-color;
        color: $primary-white-color;
    }
}