.containerLoader {
    display: flex;
    justify-content: center;
}

.productSection {
    position: relative;
    height: 480px;
    border-radius: 15px;
    border: 1px solid $primary-border-color;
    background-color: $primary-white-color;
    padding: 32px 52px;
}

.productSectionMore {
    @include media(tablet) {
        position: relative;
    }
}

.productList {
    @include media(tablet) {
        width: 640px !important;
    }

    @include media(desktop) {
        width: 980px !important;
    }
}

.prodactItem {
    @include media(tablet) {
        height: 335px;
        width: 270px !important;
        border-radius: 15px;
        border: 1px solid $primary-border-color;
        background-color: $primary-white-color;
        padding: 32px 20px;

        cursor: pointer;
    }
}

.prodactImg {
    display: block;

    margin: 0 auto 15px;
}

.productInform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productName {
    @include font(16, 22);
    height: 50px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;

    @include media(tablet) {
        @include font(18, 24);
        width: 250px;
    }
}

.productCategory {
    @include font(12, 14);
    letter-spacing: -0.02em;
    color: $primary-text-black-color;
    margin-bottom: 18px;
}

.productPrice {
    display: block;
    border: 1px solid $primary-border-color;
    border-radius: 100px;
    padding: 8px 20px;

    @include font(14, 18);
    font-weight: 600;
}

.iconArrow {
    width: 32px;
    height: 32px;
    stroke: $primary-text-color;
    fill: transparent;

    transition: stroke $animation;

    &:active,
    &:hover {
        stroke: $primary-white-color;
    }

    @include media(desktop) {
        width: 48px;
        height: 48px;
    }
}

.prevButton {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 32px;
    left: 124px;
    z-index: 2;

    border-radius: 50px;

    transition: background-color $animation;

    &:active,
    &:hover {
        background-color: $primary-main-color;
    }

    @include media(tablet) {
        height: 32px;
        top: 158px;
        left: -4px;
    }

    @include media(desktop) {
        width: 48px;
        height: 48px;
        top: 154px;
        left: 40px;
    }
}

.nextButton {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 32px;
    right: 124px;
    z-index: 2;

    border-radius: 50px;

    transition: background-color $animation;

    &:active,
    &:hover {
        background-color: $primary-main-color;
    }

    @include media(tablet) {
        height: 32px;
        top: 158px;
        right: 0;
    }

    @include media(desktop) {
        width: 48px;
        height: 48px;
        top: 154px;
        right: 40px;
    }
}