.button {
  color: $primary-white-color;
  font-weight: 600;

  padding: 12px 28px;

  @include font(14, 14);

  @include media(tablet) {
    padding: 14px 40px;
  }

  &.border {
    border: 1px solid $primary-white-color;
    border-radius: 100px;
    transition: border $animation, color $animation;

    &:hover,
    &:active {
      border-color: $primary-main-color;
      color: $primary-main-color;
    }
  }
}

.button:disabled {
  cursor: not-allowed;
}