.header {
  position: sticky;
  z-index: 2;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-block: 24px;
  padding-inline: 20px;
  max-width: unset;

  background-color: black;
}