.picturesPart {
    background-color: $dark-bg-color;
    padding: 65px 0;
}

.picturesPartContainer {
    @include media(tablet) {
        display: flex;
        gap: 15px;
        overflow: hidden;
    }

    @include media(desktop) {
        justify-content: center;
        gap: 25px;
    }
}

.pictureItem {
    display: flex;
    gap: 10px;

    @include media(tablet) {
        flex-direction: column;
        gap: 16px;
    }

    @include media(desktop) {
        justify-content: center;
        gap: 25px;
    }
}

.itemImg {
    display: block;
    width: 100%;
    height: 172px;
    border-radius: 37px;

    @include media(tablet) {
        border-radius: 0;
        height: 165px;
    }

    @include media(desktop) {
        height: 273px;
    }
}

.itemImgBig {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 37px;
    margin-top: 10px;
    margin-bottom: 10px;

    @include media(tablet) {
        width: 310px;
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    @include media(desktop) {
        width: 489px;
    }
}